@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#app{
  height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

#modal-container{
  position: absolute;
  z-index: 1;
}

@layer components {
  .form {
    @apply bg-light dark:bg-brand m-auto p-8 flex flex-col gap-4 w-[20rem] md:w-[30rem] dark:text-white rounded-md;
  }

  .form__inner{
    @apply flex flex-col gap-4 font-bold;
  }
}

* {
  scrollbar-width: auto;
  scrollbar-color: #3E3E4F;
}


*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #16171F;
}

*::-webkit-scrollbar-thumb {
  background-color: #3E3E4F;
  border-radius: 10px;
}